<div fxLayout="column">
    <picture>
        <img src="assets/img/pestana_servicioni/banner_servicioni.png" alt="pestana_servicioni">
        <div fxLayout="column" fxLayoutGap="20px">
            <h1 class="centered-banner-text">SERVICIO DE MENSAJER&Iacute;A</h1>
            <h2 class="subtitle-banner-text">NACIONAL E INTERNACIONAL!</h2>
        </div>
    </picture>
    <div class="info-container">
        <div class="imagen-container"></div>
        <div class="text-container">
            <div class="imagen2-container"></div>
            <div class="contenido-texto-container">
                <span class="card-info-title">Env&iacute;os rapidos y seguros</span>
                <br /><br />          
                <p>Nos encargamos de tus importaciones y exportaciones de peque&ntilde;o y gran tonelaje, Los paquetes
                    deben ser entregados en los puntos autorizados de cada ciudad.</p>
                <br />
                <p>Ahora tus paquetes de mensajeria llegaran a diferentes destinos alrededor del mundo.</p>
            </div>
        </div>
    </div>
    <div class="call-info map-button-container">
        &iexcl; No esperes m&aacute;s &#33; <b>Somos tu aliado correcto</b>
        <br />
        <br />
        Cont&aacute;ctanos <mat-icon>phone</mat-icon>
    </div>
</div>