<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutGap="10px">
    <app-input fxFlex="50" placeholder="Tipo"></app-input>
    <app-input fxFlex="50" placeholder="Paises"></app-input>
    <app-input fxFlex="50" placeholder="N°Contenedor"></app-input>
    <app-button title="Buscar" icon="search"></app-button>
    <app-button title="Crear" icon="add" (click)="openContainerDialog()"></app-button>
  </div>
  <div class="table-container">
    <app-container-table [data]="containerList"></app-container-table>
  </div>
</div>
