<footer fxLayout="column" fxLayoutGap="5px">
  <div class="footer-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="10px" fxLayoutGap="120px">
    <div class="contact-footer-container" fxLayout="column">
      <img src="assets/img/logos/logo-tu-caja-express2.png" alt="logo tu caja express">
      <span>Comunicate con nosotros</span>
      <span class="contact-phone-footer-container"><mat-icon>headset_mic</mat-icon>919-578-9105</span>
      <span>contacto@tucajaexpress.com</span>
    </div>
    <div fxLayout="column">
      <span class="list-title">Coberturas</span>
      <ul class="list-footer">
        <li>Mexico</li>
        <li>Guatemala</li>
        <li>El Salvador</li>
        <li>Honduras</li>
        <li>Nicaragua</li>
        <li>Costa rica</li>
        <li>Colombia</li>
      </ul>
    </div>
    <div fxLayout="column">
      <span class="list-title">Nuestro servicios</span>
      <ul class="list-footer">
        <li>Puerta a puerta</li>
        <li>Paquetería</li>
        <li>Envios nacionales e internacionales</li>
      </ul>
    </div>

    <div fxLayout="column">
      <mat-icon></mat-icon>
      <mat-icon></mat-icon>
    </div>
  </div>
  <div class="footer-end-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <span>©Tu caja express</span>
    <span>Politica de privacidad</span>
    <span>|</span>
    <span>Términos y condiciones</span>
  </div>
</footer>
