img {
  max-width: 100%;
  height: auto;
}

.centered-banner-text {
  font-size: 300%;
  color: #ea4235;
  position: absolute;
  top: 52%;
  left: 40.5%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-style: italic;
  transform:scaleX(1.4);
}

.subtitle-banner-text {
  font-size: 300%;
  position: absolute;
  top: 60%;
  left: 39.5%;
  transform: translate(-50%, -50%);
  color: #dde0e5;
  font-weight: bold;
  font-style: italic;
  transform:scaleX(1.4);
}

.info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imagen-container {
  width: 510px;
  height: 629px;
  margin-top: 15px;
  margin-left: 110px;
  margin-bottom: 60px;
  border-radius: 25px;
  background-image: url("/assets/img/pestana_serviciopa/imagen_serviciopa_1.png");
  background-repeat: no-repeat;
  background-size: 510px 629px;
  background-position: center;
}

.text-container {
  width: 45%;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 60px;
}

.imagen2-container {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 195px;
  background-image: url("/assets/img/logos/servicio3.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.contenido-texto-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.contenido-texto-container>p {
  font-size: 18px;
  text-align: justify
}

.card-info-title {
  font-size: 25px;
  font-weight: bold;
}

.call-info {
  background-color: var(--main-red);
  color: white;
  width: 100%;
  justify-content: center;
}

.call-info mat-icon {
  height: 40px;
  width: 50px;
  font-size: 40px;
}

.map-button-container {
  width: 100%;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 35px;
  padding: 25px;
}

button {
  width: 300px;
  height: 55px;
  font: 700 1em Tahoma, Arial, Verdana, sans-serif;
  color: #fff;
  background-color: black;
  border-radius: 60px;
  font-size: 28px;
  margin-top: 60px;
  cursor: pointer;
}

.img-whatsapp {
  width: 40px;
  height: 40px;
}