<div fxLayout="column">
    <picture>
        <img src="assets/img/pestana_serviciopa/banner_serviciopa.png" alt="pestana_serviciopa">
        <div fxLayout="column" fxLayoutGap="20px">
            <h1 class="centered-banner-text">SERVICIO DE</h1>
            <h2 class="subtitle-banner-text">PAQUETER&Iacute;A!</h2>
        </div>
    </picture>
    <div class="info-container">
        <div class="imagen-container"></div>
        <div class="text-container">
            <div class="imagen2-container"></div>
            <div class="contenido-texto-container">
                <span class="card-info-title">En paqueteria...</span>
                <br /><br />          
                <p>Le ofrecemos un servicio de paqueteria r&aacute;pida y confiable, usted puede enviar cualquier
                    paquete a la <b>Rep&uacute;blica Mexicana, El Salvador y Colombia,</b> por medio de cualquiera de
                    nuestras oficinas y nosotros se lo podemos entregar r&aacute;pidamente. Estamos eficazmente
                    equipados, gracias a una fuerte alianza hecha entre varias compa&ntilde;ias, para ser ofrecido por
                    nuestro amable personal de servicio al cliente.</p>
            </div>
        </div>
    </div>
    <div class="call-info map-button-container">
        Escr&iacute;benos para averiguar su <b>oficina m&aacute;s cercana.</b>
        <br />
        <button type="button" mat-raised-button (click)="irWhatsapp(); $event.preventDefault()">
            <img class="img-whatsapp" src="assets/img/logos/whatsapp-white.png" />
            CONT&Aacute;CTANOS
        </button>
    </div>
</div>