<div class="login-container">
  <div fxLayout="row" class="content-container" [ngClass]="isAdmin ? 'is-admin':''" fxLayoutAlign="end center">
    <div *ngIf="!isAdmin" fxFlex="60" class="banner-container"></div>
    <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <mat-card class="card-container">
        <mat-card-title *ngIf="!onCreate"
                        class="card-title">{{isAdmin ? 'Plataforma  administrativa' : 'Iniciar sesión'}}</mat-card-title>
        <mat-card-title *ngIf="onCreate" class="card-title">Registrarse</mat-card-title>
        <mat-card-content>
          <form *ngIf="!onCreate" [formGroup]="form" fxLayout="column" (ngSubmit)="onSubmit()">
            <app-input formControlName="email" icon="person" placeholder="Usuario" type="email"></app-input>
            <app-input formControlName="password" icon="lock" placeholder="Contraseña" type="password"></app-input>
            <div class="card-content-footer" fxLayout="column">
              <div fxLayout="row" fxLayoutGap="70px">
                <mat-checkbox>Recordarme</mat-checkbox>
                <a class="footer-link" fxflex fxLayoutAlign="end end">Olvidaste tu contraseña?</a>
              </div>
              <div fxLayoutAlign="center center">
                <app-button type="submit" title="Ingresar"></app-button>
              </div>
            </div>
          </form>

          <form *ngIf="onCreate" [formGroup]="userForm" fxLayout="column" (ngSubmit)="onCreateUser()">
            <app-input formControlName="firstName" placeholder="Nombres" type="text"></app-input>
            <app-input formControlName="lastName" placeholder="Apellidos" type="text"></app-input>
            <app-input formControlName="email" placeholder="Email" type="email"></app-input>
            <app-input formControlName="password" placeholder="Contraseña" type="password"></app-input>
            <div fxLayoutAlign="center center">
              <app-button type="submit" title="Aceptar"></app-button>
            </div>
          </form>

        </mat-card-content>
      </mat-card>
      <span *ngIf="!onCreate">Eres nuevo aquí? <a class="sign-up-message" (click)="setOnCreate()">Registrate</a></span>
      <span *ngIf="onCreate">Ya estas registrado <a class="sign-up-message" (click)="setOnCreate()">Ingresar</a></span>
    </div>
  </div>
</div>

