<div fxLayout="column">
    <picture>
        <img src="assets/img/pestana_serviciopp/banner_serviciopp.png" alt="pestana_serviciopp">
        <div fxLayout="column" fxLayoutGap="20px">
            <h1 class="centered-banner-text">SERVICIO PUERTA</h1>
            <h2 class="subtitle-banner-text">A PUERTA!</h2>
        </div>
    </picture>
    <div class="info-container">
        <div class="imagen-container"></div>
        <div class="text-container">
            <div class="imagen2-container"></div>
            <div class="contenido-texto-container">
                <span class="card-info-title">Con el servicio de puerta a puerta...</span>
                <br /><br />          
                <p>Usted recibe nuestras cajas vacias y luego se las recogemos llenas sin costo adicional, sabemos que
                    lo importante es evitar que usted pierda tiempo, por eso hemos invertido para mejorar nuestro
                    servicio.</p>
                <br />
                <p><b>Porque para nuestros clientes siempre buscamos lo mejor, si lo ley&oacute; bien&#33;&#33;</b>
                    este servicio no tiene precio, es <b>GRATIS</b> entonces que est&aacute; esperando para comunicarse
                    con nosotros, podriamos ir en camino en este momento.</p>
            </div>
        </div>
    </div>
    <div class="call-info map-button-container">
        Si tienes dudas, <b>&iexcl; Escr&iacute;benos o ll&aacute;manos &#33;</b>
        <br />
        <br />
        Cont&aacute;ctanos <mat-icon>phone</mat-icon>
    </div>
</div>