<div fxLayout="column">
    <picture>
        <img src="assets/img/pestana_nosotros/banner_nosotros.png" alt="pestana_nosotros">
        <div fxLayout="column" fxLayoutGap="20px">
            <h1 class="centered-banner-text">&iexcl;PORQUE QUE SOMOS TU</h1>
            <h2 class="subtitle-banner-text">MEJOR OPCI&Oacute;N!</h2>
        </div>
    </picture>
    <div class="info-container">
        <div class="imagen-container"></div>
        <div class="text-container">
            <div class="contenido-texto-container">
                <p>-Porque con nuestro servicio de puerta a puerta, usted recibe la caja vac&iacute;a y luego se la
                    recogemos
                    llena sin costo adicional, sabemos que lo importante es evitar que usted pierda tiempo, por eso
                    hemos invertido para mejorar nuestro servicio.</p>
                <br />
                <p>-Porque en cada una de las oficinas, nuestros modernos veh&iacute;culos con su espacio amplio hacen
                    que su
                    carga se transporte en condiciones &oacute;ptimas, adem&aacute;s est&aacute;n identificados,
                    brindando confianza y seguridad.</p>
                <br />
                <p>-Porque nuestro personal profesional, sabe atenderle y lo hace todos los d&iacute;as, nuestro horario
                    de atenci&oacute;n de 8 de la ma&ntilde;ana a 8 de la noche nos asegura que estaremos all&iacute;,
                    cuando lo necesites.</p>
                <br />
                <p>-Porque para su tranquilidad contamos con seguro en caso de robo, p&eacute;rdida o accidente.</p>
                <br />
                <p>-Porque sin importar en que ciudad viva, o qui&eacute;n le atienda, todos nuestros agentes saben lo
                    que
                    hacen, adem&aacute;s siempre le atender&aacute;n con amabilidad y responsabilidad, esa es nuestra
                    mejor imagen
                    corporativa.</p>
            </div>
        </div>
    </div>
    <div class="valores-title"><b>NUESTROS VALORES</b></div>
    <div class="valores-container">
        <div class="valores_iconos">
            <img src="assets/img/pestana_nosotros/puntualidad.png" width="120px" height="120px">
        </div>
        <div class="valores_iconos">
            <img src="assets/img/pestana_nosotros/respeto.png" width="120px" height="120px">
        </div>
        <div class="valores_iconos">
            <img src="assets/img/pestana_nosotros/cooperacion.png" width="120px" height="120px">
        </div>
    </div>
    <div class="valores-container">
        <div class="valores-icono-titulo">Puntualidad</div>   
        <div class="valores-icono-titulo">Respeto</div>        
        <div class="valores-icono-titulo">Cooperaci&oacute;n</div>
    </div>
</div>