<div fxLayout="column" fxLayoutGap="10px">
  <app-dialog-toolbar icon="add" title="Nuevo programa"></app-dialog-toolbar>
  <form class="dialog-form-container" [formGroup]="form" fxLayout="column">
    <mat-tab-group>
      <mat-tab label="Cliente">
        <div fxFlex fxLayout="column">
          <div fxLayout="row" fxLayoutGap="10px">
            <app-input fxFlex placeholder="Telefono"></app-input>
            <app-input fxFlex placeholder="Movil"></app-input>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <app-input fxFlex placeholder="Nombre"></app-input>
            <app-input fxFlex placeholder="Dirección"></app-input>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <app-input fxFlex placeholder="Ciudad"></app-input>
            <app-input fxFlex placeholder="Barrio"></app-input>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <app-input fxFlex placeholder="Email"></app-input>
            <app-input fxFlex placeholder="Zip"></app-input>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Programación">
        <div fxFlex fxLayout="column">
          <div fxFlex fxLayout="row">
            <app-input fxFlex placeholder="Fecha recolecta"></app-input>
          </div>
          <div fxFlex fxLayout="row" fxLayoutGap="10px">
            <app-input fxFlex placeholder="No paquetes"></app-input>
            <app-input fxFlex placeholder="¿Iguales?"></app-input>
          </div>
          <div fxFlex fxLayout="row" fxLayoutGap="10px">
            <app-input fxFlex placeholder="Contenido"></app-input>
            <app-input fxFlex placeholder="declarado"></app-input>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <app-input fxFlex placeholder="Peso"></app-input>
            <app-input fxFlex placeholder="Alto"></app-input>
          </div>

          <div fxLayout="row" fxLayoutGap="10px">
            <app-input fxFlex placeholder="Ancho"></app-input>
            <app-input fxFlex placeholder="Largo"></app-input>
          </div>

          <div fxFlex fxLayout="row">
            <app-text-area placeholder="Notas"></app-text-area>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <app-dialog-actions (cancelAction)="closeDialog()"></app-dialog-actions>
  </form>
</div>

