<ng-container *ngFor="let item of menuList">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="menu-item-icon">
            <img src="assets/img/iconos_plataforma/{{item.icon}}.png" alt="{{item.icon}}">
          </div>
          <div class="menu-item-title">
            {{item.title}}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list role="list" *ngFor="let childitems of item.items">
        <mat-list-item role="listitem">
          <a [routerLink]="childitems.url" fxFlex fxLayout="row" fxLayoutGap="10px" class="menu-item-title"
             (click)="setCurrentRoute.next({url: childitems.url,sectionName:item.sectionName})">
            <div class="menu-item-icon">
              <img src="assets/img/iconos_plataforma/{{childitems.icon}}.png" alt="{{childitems.icon}}">
            </div>
            <span> {{childitems.title}}</span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>


