mat-nav-list {
  width: 230px;
  background-color: var(--main-red);
}

mat-list-item {
  color: white !important;
  font-size: 18px !important;
  font-weight: 500;
  padding-left: 20px;
}

.menu-item-title {
  margin-left: 10px;
}

.menu-item-icon img {
  width: 30px;
}
