@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("./assets/fonts/Montserrat-Regular.otf") format('truetype');
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}


:root {
  --main-red: #ea4235;
  --main-gray: #dde0e5;
  --main-black: #1d1d1b;
}

.mat-dialog-container {
  padding: 0 !important;
}

.dialog-form-container {
  padding: 10px;
}

.dialog-form-subtitle {
  padding: 10px 2px;
}

.table-container {
  height: 400px !important;
}

.mt-2 {
  margin-top: 2px;
}

mat-form-field {
  width: 100%;
}

mat-panel-title {
  font-weight: bold;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
