<div fxLayout="column">
  <div fxFlex>
    <carousel cellWidth="100%" [height]="500" arrowsTheme="dark" class="carousel-item">
      <div class="carousel-cell">
        <img src="assets/img/banners/banner1.png" alt="banner-email">
      </div>
      <div class="carousel-cell">
        <img src="assets/img/banners/banner2.png" alt="banner2">
      </div>
    </carousel>
    <h1 class="principal1-banner-text">PAQUETER&Iacute;A M&Eacute;XICO Y</h1>
    <h1 class="principal2-banner-text">CENTROAM&Eacute;RICA</h1>
    <h2 class="subtitle1-banner-text"><b>La amabilidad y confianza</b> es lo</h2>
    <h2 class="subtitle2-banner-text">que nos caracteriza.</h2>
    <div fxFlex class="btn-whatsapp">
      <button type="button" mat-raised-button (click)="irWhatsapp(); $event.preventDefault()">
        &iexcl;Cont&aacute;ctenos&#33;
        <img class="img-whatsapp" src="assets/img/logos/phone-white.png" />
      </button>
    </div>
  </div>
  <h1 class="subtitle" fxLayoutAlign="center center">Nuestros Servicios</h1>
  <div class="services-container" fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
    fxLayoutAlign="center center">
    <mat-card fxFlex class="card-info">
      <mat-card-content>
        <img mat-card-image src="assets/img/logos/servicio1.png" alt="servicio1">
        <span class="card-info-title">Puerta a puerta</span>
        <p>Usted recibe nuestras cajas vacías y luego se las recogemos llenas sin costo adicional</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="button-card">
          <span>Ver mas</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex class="card-info">
      <mat-card-content>
        <img mat-card-image src="assets/img/logos/servicio3.png" alt="servicio1">
        <span class="card-info-title">Paquetería</span>
        <p>Le ofrecemos un servicio de paquetería rápida y confiable</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="button-card">
          <span>Ver mas</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex class="card-info">
      <mat-card-content>
        <img mat-card-image src="assets/img/logos/servicio2.png" alt="servicio1">
        <span class="card-info-title">Nacional e internacional</span>
        <p>Servicio especializado de mensajería nacional e internacional</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="button-card">
          <span>Ver mas</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
  <h1 class="subtitle" fxLayoutAlign="center center">Cobertura</h1>
  <div fxFlex class="toppings-container" fxLayoutAlign="center center">
    <img src="assets/img/banners/paises-coberturas_05.jpg" alt="Paises coberturas">
  </div>
  <div class="map-button map-button-container" fxLayout="row" fxLayoutAlign="center center">
    <span>
      Ampliar mapa
    </span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="call-info map-button-container">
    <mat-icon>phone</mat-icon>
    Llamenos para ubicarle nuestra oficina mas cercana.
  </div>
  <div class="parallax-info-container">
    <img src="assets/img/banners/imagen-parallax-web.jpg" alt="imagen parallax">
  </div>
</div>